.card {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  margin: 20px auto;
}

.content {
  flex-grow: 1;
  padding-left: 64px;
}

.product-groups {
  font-size: 13px;
  color: rgb(120, 120, 120);
}